verif = "sim"
while verif == "sim":
    print("Seja bem vindo ao caixa eletrônico da FATEC")
    valor = int(input("Qual será o valor do saque?\n"))
    print (f"Certo, para continuar o saque de {valor}, escolha a configuração de notas que deseja receber")
    nota100 = int(input("Quantas notas de 100?\n"))
    total = 100 * nota100
    resto = valor - total
    if total>valor:
        print("Essa quantidade de notas ultrapassa o valor que irá sacar, tente novamente")
        exit()
    elif total==valor:
            print("Certo, seu valor está completo, retire seu dinheiro na saída indicada, até a proxima!")
            exit()
    elif total<valor:
            print(f"Certo, falta {resto} para escolher em outras cedúlas")
    nota50 = int(input("Quantas notas de 50?"))
    total2 = 50 * nota50 + total
    resto = valor - total2
    if total2>valor:
        print("Essa quantidade de notas ultrapassa o valor que irá sacar, tente novamente")
        exit()
    elif total2==valor:
            print("Certo, seu valor está completo, retire seu dinheiro na saída indicada, até a proxima!")
            exit()
    elif total2<valor:
            print(f"Certo, falta {resto} para escolher em outras cedúlas")
    nota20 = int(input("Quantas notas de 20?"))
    total3 = 20 * nota20 + total2
    resto = valor - total3
    if total3>valor:
        print("Essa quantidade de notas ultrapassa o valor que irá sacar, tente novamente")
        exit()
    elif total3==valor:
            print("Certo, seu valor está completo, retire seu dinheiro na saída indicada, até a proxima!")
            exit()
    elif total3<valor:
            print(f"Certo, falta {resto} para escolher em outras cedúlas")
    nota10 = int(input("Quantas notas de 10?"))
    total4 = 10 * nota10 + total3
    resto = valor - total4
    if total4>valor:
        print("Essa quantidade de notas ultrapassa o valor que irá sacar, tente novamente")
        exit()
    elif total4==valor:
            print("Certo, seu valor está completo, retire seu dinheiro na saída indicada, até a proxima!")
            exit()
    elif total4<valor:
            print(f"Certo, falta {resto} para escolher em outras cedúlas")
    nota5 = int(input("Quantas notas de 5?"))
    total5 = 5 * nota5 + total4
    resto = valor - total5
    if total5>valor:
        print("Essa quantidade de notas ultrapassa o valor que irá sacar, tente novamente")
        exit()
    elif total5==valor:
            print("Certo, seu valor está completo, retire seu dinheiro na saída indicada, até a proxima!")
            exit()
    elif total5<valor:
            print(f"Certo, falta {resto} para escolher em outras cedúlas")
    nota1 = int(input("Quantas notas de 1?"))
    total6 = 1 * nota1 + total5
    resto = valor - total6
    if total6>valor:
        print("Essa quantidade de notas ultrapassa o valor que irá sacar, tente novamente")
        exit()
    elif total6==valor:
            print("Certo, seu valor está completo, retire seu dinheiro na saída indicada, até a proxima!")
    elif total6<valor:
            print(f"Suas notas não atingiram o valor total, tente novamente")
    verif = str(input("quer continuar?\n"))

