verif = "sim"
while verif == "sim":
    print("Seja bem vindo ao caixa eletrônico da FATEC")
    valor = int(input("Qual será o valor do saque?\n"))
    print (f"Certo, para continuar o saque de {valor}, escolha a configuração de notas que deseja receber")
    nota100 = int(input("Quantas notas de 100?\n"))
    total = 100 * nota100
    resto = valor - total
    if total>valor:
        print("Essa quantidade de notas ultrapassa o valor que irá sacar, tente novamente")
        exit()
    elif total==valor:
            print("Certo, seu valor está completo, retire seu dinheiro na saída indicada, até a proxima!")
            exit()
    elif total<valor:
            print(f"Certo, falta {resto} para escolher em outras cedúlas")
    nota50 = int(input("Quantas notas de 50?"))
    total2 = 50 * nota50 + total
    resto = valor - total2
    if total2>valor:
        print("Essa quantidade de notas ultrapassa o valor que irá sacar, tente novamente")
        exit()
    elif total2==valor:
            print("Certo, seu valor está completo, retire seu dinheiro na saída indicada, até a proxima!")
            exit()
    elif total2<valor:
            print(f"Certo, falta {resto} para escolher em outras cedúlas")
    nota20 = int(input("Quantas notas de 20?"))
    nota10 = int(input("Quantas notas de 10?"))
    nota5 = int(input("Quantas notas de 5?"))
    nota1 = int(input("Quantas notas de 1?"))
    verif = str(input("quer continuar?\n"))
    
    